.git
.gitignore
.env
.env.*
!.env.example
!.env.render.production.example
!.env.render.staging.example
vendor
node_modules
public/build
public/hot
storage/logs
storage/framework/cache/data
storage/framework/sessions
storage/framework/views
tests
.phpunit.result.cache
coverage
